#time{
  margin-top: auto;
  top: auto;
  

}
.app{
  color: rgb(8, 8, 8);
  background-color: antiquewhite;
  text-align: center;
  top: 50px;
}
.heading{
  font-size: xx-large;
}
small {
  font-size: larger;
}

