#time{
  margin-top: auto;
  top: auto;
  

}
#shownTime{
  text-align: center;
  text-decoration: dotted;
  margin: auto;
  font-style: italic;

}
.app{
  color: rgb(8, 8, 8);
  background-color: antiquewhite;
  text-align: center;
  top: 50px;
}
.heading{
  font-size: xx-large;
}
small {
  font-size: larger;
}
.Clock{
  margin-top: auto;
}
